body{
    font-family: Montserrat;
 }

.main-container{
   height:100vh;    
   font-family: Montserrat;
}

.header{
    margin: 20px auto;
}

.header-icon:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.header-icon:active{
    transform: scale(1.00);
}

.footer-icon{
    margin: 10px auto;
}

.footer-icon:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.footer-icon:active{
    transform: scale(1.00);
}

.login-card-layer{
    background: #394A6D;
}

.footer{
    align-items: center;
    font-style: italic;
}

.footer-text{
    font-size: 16px;
    padding: 0 60px;
}

.copy-right-text{
    justify-content:center;
    font-size: 10px;
    margin: 8px 0;
}

.login-section{
    color:#FFFFFF;
    padding-left: 75px;
    padding-top: 80px;
    padding-bottom: 60px;
    border-right: 1px solid #ffffff9c;
}

.login-section-form-row{
    width: 100%;
}

.login-section-header-text{
    font-size: 64px;
    color: white;
}

.login-form{
    width: 400px;
    margin-top: 50px;
}

.form-input{
    background: transparent;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 26px;
    padding-left: 0;
    margin-bottom: 24px;
}

.form-input:focus{
    box-shadow: none;
    color: white;
    background: transparent;
    border-color: white;
}

.form-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.my-btn-primary{
    background:#45b19399;
    border-radius: 40px;
    border-color: #073709;
}

.my-btn-primary:hover{
    background:#45b193;
    border-color: #073709;
}

.my-btn-primary:active{
    background:#45b193 !important;
    border-color: #073709;
}

.my-btn-primary:focus{
    box-shadow: none !important;
}

.my-btn-secondary{
    background:transparent;
    border-radius: 40px;
    border-color: #073709;
}

.my-btn-secondary:hover{
    background:#0000003b;
    border-color: #073709;
}

.my-btn-secondary:active{
    background:#0000003b !important;
    border-color: #073709;
}

.my-btn-secondary:focus{
    box-shadow: none !important;
}

.without-login-section{
    text-align: center;
    align-self: center;
    color: white;
    font-size: 36px;
}

.arrow-icon{
    /* padding:0 60px; */
}

.arrow-icon:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.arrow-icon:active{
    transform: scale(1.00);
}

.register-form{
    width: 100%;
    color:#FFFFFF;
    padding: 80px;
}

.register-form-row{
    margin-top: 16px;
    margin-bottom: 16px;
}

.no-border{
    border: none;
}

.transparent:hover{
    background:transparent;
}

.transparent:active{
    background:transparent !important;
    transform: scale(1.05);
}

.forgot-password{
    color: white;
    align-self: flex-end;
    margin: 0 auto;
}

.forgot-password:hover{
    color: white;
}

.app-header{
    background: linear-gradient(-136deg, #02c9b3 0%, #37b102 100%);
    height: 48px;
    top: 100px;
}

.app-icon-header{
    background: white;
    height: 100px;
    margin: 12px auto;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-weight: bold !important;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
    margin-top: -1px;
    border-bottom: 1px solid white;
}

.navbar-light .navbar-nav .nav-link:active {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: white !important;
}

ul.navbar-nav.mr-auto{
    background: linear-gradient(-136deg, #02c9b3 0%, #37b102 100%) !important;
}

.dropdown-menu.show{
    left: 53%;
}

.survey-layer{
    height: 1000px;
    margin-top: 36px;
    background: grey;
    color: white;
    font-size: 48px;
}

.survey-container{
    margin-top: 60px;
    height: 1000px;
    background: grey;
    color: white;
    font-size: 48px;
}

.app-footer{
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid black;
    background: #d4d3d33d;
    margin-left: 0;
    margin-right: 0;
    margin-top: 24px;
}

@media (max-width: 1200px) { 
    .menu-item-title{
        font-size: 14px !important;
    }
    .nav-link{
        font-size: 14px !important;
    }
    .dropdown-item{
        font-size: 14px !important;
    }
 }

 @media (max-width: 500px) { 
    .login-section-header-text{
        font-size: 24px !important;
    }
    .register-form{
        padding:50px;
    }
    .form-input{
        font-size: 14px !important;
    }
    .without-login-section{
        font-size: 14px !important;
    } 
    img{
        max-width: 62px !important;
    }
    .my-btn-primary{
        font-size: 14px !important;
    }
    .my-btn-secondary{
        font-size: 14px !important;
    }
    .forgot-password{
        font-size: 14px !important;
    }
 }

 @media (max-width: 768px){
    .container {
        max-width: none;
    }
 }

 @media (max-width: 992px){
    .forgot-password {
        padding-top: 10px;
    }
 }

 @media (max-width: 612px){
    .login-section-header-text{
        font-size: 32px;
    }
    .register-form{
        padding:50px;
    }
    .form-input{
        font-size: 24px;
    }
    .without-login-section{
        font-size: 24px;
    } 
    img{
        transform: scale(0.9);
    }
 }

 @media (max-width: 600px){
    .survey-header-icon{
        max-width: 60px;
    }
    .xx{
        width: 50%;
    }
    .app-icon-header{
        margin: 32px auto !important;
    }
    .navbar{
        top: 164px;
    }
    .survey-container{
        margin-top: 110px;
    }
 }

.navbar-light .navbar-toggler-icon {
    background-image: url(https://image.flaticon.com/icons/svg/148/148795.svg);
}
.button.navbar-toggler.collapsed{
    margin-top: -3px;
}
.navbar-light .navbar-toggler{
    color:none;
    border:none;
}